{% extends "base.html" %}
{% block content %}
{{ dato.color}}
<form class="form" method="post" enctype="multipart/form-data">
    <div class="bg-image imagenbg2">
        <img class="logo" src="../static/1.png">
        <div class="container agrega">
            <div class="titulo">
                <h3>
                    Actualizar Pedido
                </h3>
            </div>
            {% csrf_token %}
            <p><label for="id_Pastel">Sabor:</label> 
                <input class="form_input entrada" type="text" name="Sabor" maxlength="20" id="id_Sabor" value="{{dato.Sabor}}"></p>
            <p><label for="Medida">Medida:</label> 
                <select class="form_input entrada" name="Medida" id="id_Medida">
                    {% if dato.Medida == 'Chico' %}
                        <option value="Chico" selected>Chico</option>
                    {% else %}
                        <option class="colortext" value="Chico">Chico</option>
                    {% endif %}

                    {% if dato.Medida == 'Mediano' %}
                        <option class="colortext" value="Mediano" selected>Mediano</option>
                    {% else %}
                        <option class="colortext" value="Mediano">Mediano</option>
                    {% endif %}

                    {% if dato.Medida == 'Grande' %}
                        <option class="colortext" value="Grande" selected>Grande</option>
                    {% else %}
                        <option class="colortext" value="Grande">Grande</option>
                    {% endif %}

                </select>
            </p>

            <p><label for="Cantidad">Cantidad:</label> 
                <input class="form_input entrada" type="number" name="Cantidad" required="" id="id_Cantidad" value="{{dato.Cantidad}}"></p>
            <p><label for="Costo">Costo:</label> 
                <input class="form_input entrada" type="number" name="Costo"  id="id_Costo" value="{{dato.Costo}}" min=" 0.1" step="0.01"></p>
            

                <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </div>
</form>
{% endblock content %}
