{% extends "base.html" %}
{% block content %}

<div class="bc">

    <div class="content">
        <h1><strong> BIENVENIDO</h1>
        <p>Selecciona el negocio que quieras operar, facilitando así tu organización
            <br> ya que es extremadamente importante para tu productividad.
        </p>
        
        <div>
            <a class= "btn btn-primary" href="/Pastel">Pasteleria</a>
            <a class= "btn btn-primary"href="/Pizza">Pizzeria</a>  
        </div>

      
    </div>

</div>



{% endblock content %}