{% extends "base.html" %}
{% block content %}

<button onclick="location.href='/crear'">agregar</button>

    <table class="table table-dark">
        <thead>
            <tr>
    
                <th scope="col">Sabor</th>
                <th scope="col">Medida</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Costo</th>
    
            </tr>
        </thead>
        <tbody>

            {% for n in pasteles %}        
                <tr>
                <td>{{n.Sabor}}</td>
                <td>{{n.Medida}}</td>
                <td>{{n.Cantidad}}</td>
                <td>{{n.Costo}}</td>
                <td><button id="{{n.id}}" onclick="location.href='/actualizar/{{n.id}}'">actualizar</button></td>
                <td><button id="{{n.id}}" onclick="location.href='/eliminar/{{n.id}}'">eliminar</button></td>
                </tr>
                
                {% endfor %}
        </tbody>
        </table>

{% endblock content %}