{% extends "basePi.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><label for="id_Pizza">Nombre:</label> <input type="Nombre" name="Nombre" maxlength="20" id="id_Nombre" ></p>
    <p><label for="Medida">Medida:</label> 
        <select name="Medida" id="id_Medida">
            <option value>-----------</option>
            <option value="Chico">Chico</option>
            <option value="Mediano">  Mediano</option>
            <option value="Grande">Grande</option>
        </select>
    </p>

    <p><label for="Cantidad">Cantidad:</label> <input type="number" name="Cantidad" required="" id="id_Cantidad" value="{{dato.Cantidad}}"></p>
    <p><label for="Costo">Costo:</label> <input type="number" name="Costo" maxlength="20" id="id_Costo" ></p>
            

        <button type="submit" class="btn btn-primary">Aceptar</button>

    </form>
{% endblock content %}